In [1]:
# Import libraries
import psycopg2
from pandas import DataFrame
conn = None

In [2]:
# Try to connect
try:
    conn = psycopg2.connect("dbname=myDB user=postgres host=localhost")
except:
    print ("I am unable to connect to the database")

In [3]:
# Fetch Data Record With Cursor
cur = conn.cursor()

try:
    cur.execute(" SELECT * FROM emp_addr ")
except:
    print ("I can't SELECT from Emp_Addr ")

    
the_data = cur.fetchall()

In [4]:
colnames = [desc[0] for desc in cur.description]
the_frame = DataFrame(the_data)
the_frame.columns = colnames

In [5]:
the_frame.columns

Index(['address', 'employee_id'], dtype='object')

In [6]:
the_frame.head()

                                             address  employee_id
0  98 Edinburgh St, San Francisco, CA 94112, USA ...          206
1  237 Accacia St, Daly City, CA 94014, USA      ...         2081
2  1835 Folsom St, San Francisco, CA 94103, USA  ...          178
3  170 Cambridge St, San Francisco, CA 94134, USA...           50
4  16 Roanoke St, San Francisco, CA 94131, USA   ...         1863